ENV=dev|prod
BOT_TOKEN=
ADMIN_ID=

MOBIFITNESS_API_BASE=
MOBIFITNESS_PASS_PATH=
MOBIFITNESS_BEARER_TOKEN=
MOBIFITNESS_EXTERNAL_CLIENT_ID=
MOBIFITNESS_X_CUSTOM_OS=
MOBIFITNESS_X_CUSTOM_VERSION=
MOBIFITNESS_X_CUSTOM_BUILD=
MOBIFITNESS_USER_AGENT=
MOBIFITNESS_ACCEPT_LANGUAGE=
